# Load the dataframe

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("happy.csv")

In [4]:
df

,country,happiness,gdp,social_support,life_expectancy,freedom_to_make_life_choices,generosity,corruption
0,Niger,5003,570,560,326,571,165,145
1,Mozambique,5048,578,660,191,593,185,200
2,Liberia,5122,636,670,309,405,178,80
3,Malawi,3750,648,279,388,477,140,157
4,Chad,4251,662,506,225,180,182,77
...,...,...,...,...,...,...,...,...
140,United Arab Emirates,6576,1998,980,633,702,204,250
141,Switzerland,7512,2026,1226,822,677,147,461
142,Ireland,7041,2129,1166,779,627,190,408
143,Singapore,6480,2149,1127,851,672,163,587
144,Luxembourg,7404,2209,1155,790,700,120,388

In [5]:
df.columns

Index(['country', 'happiness', 'gdp', 'social_support', 'life_expectancy',
       'freedom_to_make_life_choices', 'generosity', 'corruption'],
      dtype='object')

# Mostro le colonne che mi servono

In [7]:
df[['happiness','gdp','generosity']]

     happiness   gdp  generosity
0         5003   570         165
1         5048   578         185
2         5122   636         178
3         3750   648         140
4         4251   662         182
..         ...   ...         ...
140       6576  1998         204
141       7512  2026         147
142       7041  2129         190
143       6480  2149         163
144       7404  2209         120

[145 rows x 3 columns]

# Prendo tutte le letture

In [8]:
happy=df['happiness']

In [9]:
happy

0      5003
1      5048
2      5122
3      3750
4      4251
       ...
140    6576
141    7512
142    7041
143    6480
144    7404
Name: happiness, Length: 145, dtype: int64

In [13]:
gdp=df['gdp']

In [14]:
gdp

0       570
1       578
2       636
3       648
4       662
       ...
140    1998
141    2026
142    2129
143    2149
144    2209
Name: gdp, Length: 145, dtype: int64

In [15]:
generosity=df['generosity']

In [16]:
generosity

0      165
1      185
2      178
3      140
4      182
      ...
140    204
141    147
142    190
143    163
144    120
Name: generosity, Length: 145, dtype: int64